.navbar{
    background-color: rgba(0,0,0, 0.8);
    border-radius: unset;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    .mobile-menu{
        display: none;
        width: 40px;
        height: 40px;
        margin: 13px;
    }
    .nav{
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        .navpoint{
            font-size: 25px;
            color: white;
            padding: 15px;
            font-family: 'AdamCG';
            cursor: pointer;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1024px){
    /*
    .navbar::before{
        content: url("../../../../../assets/menu_icon.png");
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin: 13px;
    }
    */
    .navbar{
        .mobile-menu{
            display: block;
        }
        .nav{
            display: none;
            .navpoint{

            }
        }
    }
}