.surround{
    .selections{
        display: inline-flex;
        flex-wrap: wrap;
        .projects{
            padding: 0;
            border: 1px solid black;
            margin: 0 auto;
            transition: all 0.5s ease-in-out;
            background-color: white;
            .panel-title{
                font-family: "AdamCG";
                text-align: center;         
                font-size: 28px;       
            }
            .panel-pic-wrapper{
                padding: 0;
                display: flex;
                justify-items: center;
                min-height: 50%;
                width: 95%;
                margin: 0 2.5%;
                .panel-picture{
                    width: 100%;
                    height: auto; 
                    margin: auto;
                }
            }
            .panel-text{
                padding: 15px;
                font-family: 'Open Sans';
            }
        }   
        .projects:hover{
            transform: scale(1.05);
        }
        .t1{
            transition: all 1s ease-in-out;
        }
        .t2{
            display: none;
            transition: all 1s ease-in-out;
            opacity: 0;
            transform: scale(1.5);
        }
    }
    .reset{
        position: absolute;
        right: 50px;
        top: 100px;
        background-color: red;
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 1024px){
    .surround{
        .selections{
            .projects{
                margin-top: 15px;
            }
        }
    }
}