<div class="container">
    <h1 class="title">{{ title }}</h1>
    <hr>
    <div class="selections col-12">
        <!-- Tier 1 Selectors -->
        {{ collection from="cv_projects" }}
        <div id="{{ project_link }}" class="projects t1 col-lg-3 col-md-5 col-sm-xs-12">
            <h2 class="panel-title">{{ title }}</h2>
            {{ assets:cv_project_thumbnails }}
            <img class="panel-picture" src="{{ url }}">
            {{ /assets:cv_project_thumbnails }}
            <p class="panel-text">
                {{ cv_project_desc }}
            </p>
        </div>
        {{ /collection }}

        <!-- Tier 2 Selectors -->

        {{ collection from="websites" }}
        <div class="projects t2 websites col-lg-3 col-md-5 cold-sm-xs-12">
            <h2 class="panel-title">{{ title }}</h2>
            {{ assets:thumbnail }}
            <img class="panel-picture" src="{{ url }}">
            {{ /assets:thumbnail }}
            <p class="panel-text">
                {{ description }}
            </p>
        </div>
        {{ /collection }}
    </div>
</div>