<div class="surround col-12">
    <h1 class="title">{{ title }}</h1>
    <div class="content col-lg-12">
        <div class="home-panel col-lg-6 col-md-sm-xs-12">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid nesciunt explicabo accusantium asperiores ipsum, deleniti pariatur consequuntur nihil reiciendis eveniet atque consectetur ullam veritatis! Assumenda illum nesciunt modi maxime id?</p>
        </div>
        <div class="home-panel col-lg-6 col-md-sm-xs-12">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos tempore explicabo vel officia, ratione cum placeat et adipisci eligendi fugit ullam veritatis minima impedit? Consequatur, vero! Consequuntur omnis veritatis praesentium!</p>
        </div>        
    </div> 
</div>

